@using EthanWeberWebsite.Models

<style>
    #molexLink {
        color: red;
    }

    h4, h5 {
        font-weight: bold;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="col-md-12">

    @* todo: add picture *@
    <div id="PersonalPhoto">

    </div>
    
    <br/>

    <h4>Who I Am</h4>
    <p>
        Hello, my name is Ethan Weber! I'm currently a student at the University of Nebraska - Lincoln majoring in Computer Science, 
        and am proudly interning at <a href="@Constants.MolexLink" style="color: red;" target="_blank">Molex.</a>
        @*I graduated from Pius X High School in Lincoln, Nebraska in the spring of 2018.*@
    </p>
    
    <br/>

    <h4>Why I Chose Computer Science</h4>
    <p>
        I've been interested in the hardware aspect of computers ever since my parents gifted me a Gateway desktop when I was 9.
        Starting out simply with exploring the settings in Windows, I remember always wanting to know more about how they worked.
        I bought my first graphics card - an Nvidia GeForce GTX 750 ti - when I was 14, and after saving up a bunch more, I was
        fortunate enough to build my own computer in full when I was 15. After that, it just seemed like a given that I would end up
        in Computer Science!
    </p>

    <br />

    <h4>My Interests</h4>
    <p>While I love CompSci, I like to think I have plenty of other interests!</p>
    <ul>
        <li>
            <h5>Music</h5>
            <p>
                I've played a total of five instruments for varying periods throughout my life,
                but currently I enjoy playing the piano and the guitar, as well as singing!
                I was part of my high school's concert, marching, and jazz bands, and was also a part of
                the more advanced Sotto Voce choir. Being involved in multiple music programs with passionate
                teachers who really cared was amazing, and I'm grateful for the creativity that they all helped me to express!
            </p>
        </li>
            
        <li>
            <h5>Speech</h5>
            <p>
                One of my favorite activities was being involved in my high school's speech team! 
                Besides the great times I had as part of a dedicated group of hard-working people, 
                speech taught me to never be afraid to speak my mind, and provided me great experience in public speaking.
            </p>
        </li>
        
        <li>
            <h5>Theatre</h5>
            <p>
                I was involved in theatre for a couple years at my high school, and made some great memories
                between acting on stage and helping out as part of the crew!
            </p>
        </li>
        
        <li>
            <h5>Robotics</h5>
            <p>
                I was part of the first year of my high school's Vex Robotics team, and acted as one of two Programming Captains.
                Being a Programming Captain, I assumed it would be a lot of programming. And while that was one of the
                main focuses, the biggest part was learning how to work effectively as a leader and knowing how and when
                to take responsibility or to delegate it to others who may be more capable.
            </p>
        </li>
    </ul>
</div>